
  /* Default styles for large screens */
  .heading {
    padding: 20px 0px;
    font-size: 3rem;
    color: #03045e;
  }
  



  /* Tablets (max-width: 1024px) */
  @media (max-width: 1024px) {
    .heading {
      font-size: 2.5rem;
      padding: 15px 0px;
    }


  }
  
  /* Small tablets and large phones (max-width: 768px) */
  @media (max-width: 768px) {
    .heading {
      font-size: 2rem;
      padding: 10px 0px;
    }
  

 
  }
  
  /* Small phones (max-width: 480px) */
  @media (max-width: 480px) {
    .findcontainer {
      height: auto; /* Adjust the height for small screens */
      padding: 20px;
    }
  
    .heading {
      font-size: 1.8rem;
      padding: 10px 0;
      text-align: center; /* Center the heading on small screens */
    }
  

    .title{
      font-size: 1.5rem;
    }
  }
  